.form-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    color: #d46a92;
    margin-top: 50px;
}
.form-container span {
    color: grey
}
.auth-small-device-container {
    display: flex
}

.sign-in-sign-up-form {
    display: flex;
    flex-direction: row;
    border:solid 1px #c6c6c6;
    width: 40rem;
    padding: 32px;
    border-radius: 10px;
    box-shadow:  3px 3px 6px #bebebe, 
    -3px -3px 6px #ffffff;

}

@media (max-width:768px) {
    .sign-in-sign-up-form {
        overflow:hidden;
        width:60%;
        position: relative;
        padding:10px
    }
    .auth-small-device-container{
        width:200%;
        flex-shrink: 0;
        transition: 0.5s;
    }
    .sign-in {
        width:50%;
        padding-right: 0;
    }
    .sign-in form .group input {
        margin-left:5px
    } 
    .sign-in form .group label {
        margin-left:5px
    } 
    .sign-up {
        width:50%;
        padding-left: 0;      
    }
}
